:root {
  --primary-color: #eff7f0;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h3 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 68px;
}

p {
  font-family: var(--default-font-family);
  font-weight: light;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 0px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 74px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
}

.about-section h1 {
  font-size: 45px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.project-description {
  padding: 0 20px;
}

.content {
  background-color: var(--primary-color);
  text-align: center;
  padding: 50px 15px;
}

.content-container h1 {
  font-size: 45px;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 15px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 15px;
  margin-left: 15px;
}

nav li.active a {
  color: #b0c1b1;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

footer .email-to {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  transition: all 100ms ease-in-out;
}

footer .email-to:hover {
  color: #b0c1b1;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 25px 120px;
  border-radius: 10px;
  margin: 0px;
}

footer .social-links a {
  margin: 0 20px;
  color: #b0c1b1;
  background-color: var(--primary-color);
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.contact-button {
  margin-top: 20px;
}

footer .social-links a:hover {
  color: white;
  background-color: #b0c1b1;
}

@media (max-width: 900px) {
  .logo {
    max-width: 80px;
  }
  nav li {
    font-size: 14px;
  }
  .project-description {
    padding: 0;
    margin: auto 0;
    text-align: center;
  }
  .about-section {
    padding: 0;
    margin: auto 0;
    text-align: center;
  }
  footer .contact-box {
    background-color: var(--primary-color);
    padding: 25px 20px;
    border-radius: 10px;
    margin: 0px;
  }
}
